@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* BASIC */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../Media/Image/Ladrillos\ tileables.png);
    background-repeat: repeat;
    background-position: center;
    position: relative;
    min-height: 100vh;
}

/* NAVEGADOR */

li, a{
    font-family: "Source Code Pro", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #edf0f1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: rgb(0,252,255);
    background: linear-gradient(0deg, rgba(0,252,255,0) 0%, rgba(0,0,0,1) 100%);
}

img.logo{
    width: auto;
    height: 15vh;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
    
}

.nav_links li{
    display: inline-block;
    padding: 0px 15px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

/* DROPDOWN */


/* HOMEPAGE */
section#hometitle{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#hometitle h1{
    font-family: "Black Ops One";
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hometitle p{
    font-size: 1rem;
    font-family: "Kanit";
}

/* SHOP */

#shop{
    padding: 1rem;
}

.shop_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.product{
    box-shadow:0px 7px 7px rgba( 0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    align-content: center;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    overflow: hidden;
}

.product img{
    max-width: 100%;
    margin: 0.5rem;
    border-radius: 15px;
}

/*  FAQ  */

section#faq_main{
    height: calc(100vh - 60px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#main_faq{
    background-image: url(../Media/Image/Pizarra.png);
    border-radius: 15px;
    padding: 1rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 5px 17px 37px black;
}

.columnas_faq{
    display: flex;
    /* align-items: center; */
    align-content: center;
    gap: 1rem;
}

#main_faq h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #FF8A00;
    font-family: "Kanit";
}

#main_faq h2{
    font-size: 2rem;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Kanit";
}

#main_faq p{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.5em;
    font-family: "Kanit";
}

#main_faq a{
    text-align: center;
    color: #ff8800;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.5em;
    font-family: "Kanit";
}

#main_faq a:hover{
    text-align: center;
    color: #dd7600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.5em;
    text-decoration: underline;
}

/* Formulario */

.main_formulario{
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
    align-content: center;
    display: flex;
    background-color: #46607a;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 23px 37px black;
    display: flex;
}

.main_formulario h1{
    font-size: 2em;
    margin-bottom: 15px;
    font-family: "Kanit";
}

.Ask_us_text{
    font-family: "Kanit";
    font-size: 1.25em;
}

.cuadro_pregunta{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: #374a5e;
    border: 0.1em solid white;
    color: white;
}

.enviar_button{
    width: 100%;
    background-color: #5380b1;
    padding: 10px;
    color: white;
    border: none;
    font-family: "Kanit";
}

.enviar_button:hover{
    background-color: #486e97;
}

/* ABOUT US */

#main_about_us {
    padding: 1rem;
    display: flex;
    color: white; 
}

#about_us {
    border-radius: 15px;
    padding: 1rem;
    margin: 3rem;
    gap: 0.5rem;
    flex: 1;
    display: flex;
}

.columnas_about_us {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.row1, .row2 {
    display: flex;
    gap: 1rem;
}

.victor, .aster, .yoyi, .miguel, .samu, .david {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.textos {
    margin-left: 20px;
}

.texto_nombre, .texto_descripcion {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.texto_descripcion {
    margin-top: 15px;
}

.texto_nombre{
    margin-top: 1em;
}

#about_us a:hover{
    color: #dd7600;
    text-decoration: underline;
}

/* FOOTER */

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    padding-bottom: 2.5rem;
}

.Footer{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7287289915966386) 25%, rgba(0,212,255,0) 100%);
    margin-top: 5rem;
    color: white;
}


/* CARTAS */

section#cartas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 3rem;
    margin: 1rem;
}

.card{
    position: relative;
    width: 375px;
    height: 525px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: 1s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
 