@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* VARIABLES */

:root{ 
    --slide-time: 10s;
}



/* BASIC */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../Media/Image/Ladrillos\ tileables.png);
    background-repeat: repeat;
    background-position: center;
    position: relative;
    min-height: 100vh;
    cursor: url(../Media/Image/Cursor_apunta.png),auto;
}

/* NAVEGADOR */

li, a{
    font-family: "Kanit";
    font-size: 18px;
    text-decoration: none;
    color: #edf0f1;
    cursor: url(../Media/Image/Cursor_apunta.png),auto;
}


header{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    padding: 1em;
    background: linear-gradient(0deg, rgba(0,252,255,0) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
}

img.logo{
    height: 15vh;
}

img.logo:hover{
    filter: brightness(0.5);
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;

}

.nav_links li{
    display: inline-block;
    padding: 1em;
    transition: transform 0.3s ease; 
}

.nav_links li:hover{
    animation: linksScale 0.2s forwards;
}

.links li:not(:hover) {
    animation: reverseLinksScale 0.2s forwards;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #AEDB6B;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);    
}

/* ANIMACIONES PARA HOVER NAVEGADOR */

@keyframes linksScale {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}


@keyframes reverseLinksScale {
    0% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* DROPDOWN */



/* HOMEPAGE */
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5rem;
}

.slider-wrapper{
    position: relative;
    max-width: 45%;
    
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    box-shadow: -10px 15px 15px hsla(0, 0%, 0%, 0.65);
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.slider iframe{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.gamedesc{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 25px;
    padding: 1rem;
    width: 45%;
}

.gamedesc h1{
    font-family: "Girassol";
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.gamedesc p{
    font-family: "Source Code Pro";
    text-align: center;
    padding: 1rem;
    word-spacing: 0.3em;
    width: fit-content;
    line-height: 1.6rem; 
}

.gamedesc a{
    font-family: "Kanit";
    background-color: #6b92db;
    color: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    width: 25%;
}

.gamedesc a:hover{
    background-color: #4E5DBE;
}

.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SHOP */

#shoptitle {
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

#shop{
    padding: 1rem;
}

section#shoptitle{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#shoptitle h1{
    font-family: "Girassol";
    font-size: 3rem;
    margin-bottom: 1rem;
}

#shoptitle p{
    font-size: 1rem;
    font-family: "Kanit";
}

.shop_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.product{
    box-shadow:0px 100px 100px rgba( 0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    align-content: center;
    background-color: rgb(5, 26, 45);
    color: rgb(255, 255, 255);
    font-size: 20px;
    overflow: hidden;
    font-family: "Kanit";
}

.product img{
    max-width: 100%;
    margin: 0.5rem;
    border-radius: 15px;
}

/* SLIDESHOW */

#fakebutton1{
    width: 12%;
    height: 30%;
    animation: fade-jefe var(--slide-time) infinite;
}

@keyframes fade-jefe {
    0% {opacity: 1;}
    10%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    50%{opacity: 0;}
    60%{opacity: 0;}
    70%{opacity: 0;}
    80%{opacity: 0;}
    90%{opacity: 0;}
    100%{opacity: 1;}
}

#slide_container{
    max-width: 800px;
    position: relative;
    background-color: black;
    border-radius: 20px;

}

.minijefe_product_box{
    display: flexbox;
    align-self: center;
    width: auto; 
    align-content: space-between;
    box-shadow:0px 7px 7px rgba( 0, 0, 0, 0.5);
    background-color: rgb(5, 26, 45);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 4vh;
    padding-bottom: 6vh;
}

.slide-element-1{
    display: block;
    width: 100%;
    height: auto;
}

.slide-element-2, 

.slide-element-3{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slide-image {
    width: 100%;
    border-radius: 10px;
}

.slide-text {
    position: absolute;
    bottom: 10 px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 2em;
    text-shadow: 2px 2px 2px black;
    font-family: "Kanit";
}

.slide-element-1{
    animation: fade-1 var(--slide-time) infinite;
}
.slide-element-2{
    animation: fade-2 var(--slide-time) infinite;
}
.slide-element-3{
    animation: fade-3 var(--slide-time) infinite;
}

@keyframes fade-1 {
    0% {opacity: 1;}
    33%{opacity: 0;}
    66%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fade-2 {
    0% {opacity: 0;}
    33%{opacity: 1;}
    66%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes fade-3 {
    0% {opacity: 0;}
    33%{opacity: 0;}
    66%{opacity: 1;}
    100%{opacity: 0;}
}

/*  FAQ  */

section#faq_main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#main_faq {
    background-image: url(../Media/Image/Pizarra.png);
    border-radius: 15px;
    padding: 1rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 5px 17px 37px black;
    border: 0.7em solid rgb(139, 120, 57);
}

.columnas_faq {
    display: flex;
    align-content: center;
    gap: 1rem;
    width: 100%;
}

.columnas_faq .columna {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1150px) {
    .columnas_faq {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

#main_faq h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #e5eff3;
    font-family: "Girassol";
}

#main_faq h2 {
    font-size: 2rem;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Kanit";
}

#main_faq p {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.5em;
    font-family: "Source Code Pro";
}

#main_faq a {
    text-align: center;
    color: #D5AA6E;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.5em;
    font-family: "Kanit";
}

#main_faq a:hover {
    text-align: center;
    color: #dd7600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.5em;
    text-decoration: underline;
}

/* Formulario */
#formulario{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
}

.main_formulario{
    width: 50%;
    /* margin: auto; */
    margin-bottom: 50px;
    display: flex;
    background-color: #1D4055;
    padding: 30px;
    margin-top: 50px;
    border: 0.3em solid white;
    border-radius: 10px;
    box-shadow: 10px 23px 37px black;
    flex-direction: column;
    align-items: center;
}

#formulario .maps{
    background-color: #ffffff;
    width: 65%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 10px 23px 37px black;
}
.maps iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.main_formulario h1{
    font-size: 1.5em;
    margin-bottom: 15px;
    font-family: "Kanit";
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
}

.Ask_us_text{
    font-family: "Kanit";
    font-size: 1.25em;
    color: white;
    height: auto;
    margin: auto;
}

.cuadro_pregunta{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: #112732;
    border: 0.1em solid white;
    color: white;
    resize: vertical;
    overflow-y: auto;
}

.enviar_button{
    width: 100%;
    background-color: #6b92db;
    padding: 10px;
    color: white;
    border: none;
    font-family: "Kanit";
}

.enviar_button:hover{
    background-color: #4E5DBE;
}

@media only screen and (max-width: 450px){
    
    #formulario{
        flex-direction: column;
    }
}


/* ABOUT US */
section#creditos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 3rem;
}

.creditscard{
    position: relative;
    width: 462px;
    height: 486px;
}

.creditscard .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: .5s;
}

.creditscard .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.creditscard .back{
    transform: perspective(600px) rotateY(180deg);
}

.creditscard .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.creditscard .back {
    background-image: url(../media/Image/credits/painting_back.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.creditscard .back h1{
    font-family: "Girassol";
    justify-content: center;
    display: flex;
    margin-top: 1.5em;
    width: 70%;
    font-size: 35px;
}

.creditscard .back a{
    background-color: #00000052;
    padding: 0.5em;
    font-family: "Kanit";
    width: 30%;
    margin: 0.2em;
    color: black;
    border-radius: 15px;
}

.creditscard .back a:Hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.creditscard .back h3, p{
    font-family: "Kanit";
    margin-top: 0.3em;
}

.creditscard:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.creditscard:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/* CARTAS */

section#cartas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.card{
    position: relative;
    width: 375px;
    height: 525px;
    margin-bottom: 2rem;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: 1s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .back img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7287289915966386) 25%, rgba(0,212,255,0) 100%);
    margin-top: 5rem;
}

.footer .social_media {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    color: #6b92db;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.social_media div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social_media div i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.copyr {
    display: flex;
    gap: 1em;
    color: rgb(255, 255, 255);
    font-family: "Source Code Pro";
    font-size: 12px;
    margin-bottom: 1em;
}

.footer .copyr i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyr p {
    width: 100%;
    font-family: "Source Code Pro";
    margin: 0;
    text-align: center;
}

.footer a {
    display: flex;
    flex: row;
    gap: 1em;
    font-family: "Source Code Pro";
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #edf0f1;
}

.footer a:hover {
    color: #6b92db;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 800px){

    /* NAVEGADOR  */
	header{
        display: flex;
        justify-content: left;
        gap: 5%;
        align-items: center;
        padding: 1em;
        background: linear-gradient(0deg, rgba(0,252,255,0) 0%, rgba(0,0,0,1) 100%);
        width: 100%;
    
    }
    
    
    .nav_links {
        display: none;
    }

    #menuToggle {
        display: none;
    }

    .menu-icon {
        display: block;
        font-size: 50px;
        color: orange;
        position: absolute;
        top: 0;
        right: 0;
        margin: 50px;
    }
    
    .menu-opt {
        display: flex;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 40px;
        right: 0;
        margin-top: 80px;
        margin-right: 50px;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 20px;
        border-radius: 10px;
        font-size: 2em;
        border: 3px solid white;
        z-index: 99999;
        transition: max-height 1s ease, opacity 1s ease;
    }
    
    #menuToggle:checked ~ .menu-opt {
        max-height: 500px; /* Ajusta esto según el contenido real */
        opacity: 1;
    }

    /* HOME */
    .home {
        flex-direction: column;
        margin-top: 2rem;
    }

    .slider-wrapper {
        max-width: 90%;
        width: 90%;
    }

    .slider-nav {
        bottom: -2rem;
    }

    .gamedesc {
        max-width: 90%;
        width: 90%;
        margin-top: 6rem;
    }

    .gamedesc h1 {
        font-size: 36px;
    }

    .gamedesc p {
        font-size: 14px;
        line-height: 1.4rem;
    }

    .gamedesc a {
        width: 50%;
        font-size: 14px;
    }



    /* CARTAS */
    section#cartas {
        margin-top: 0; 
        flex-direction: column; 
        align-items: center; 
    }


    /* CONTACT */



    /* FAQ */



    /* SHOP */


    /* FOOTER */

    .social_media a {
        display: none;
    }

    .social_media div {
        cursor: pointer;
    }

    .social_media div i:hover {
        color: #ddd;
    }

    .copyr p, .footer .copyr i.fi.fi-br-circle-c {
        display: none; 
    }


}

@media only screen and (max-width: 400px){

    /* NAVEGADOR  */
    header {
        display: flex;
        justify-content: left;
        align-items: center; /* Asegúrate de alinear los elementos */
        padding: 5px; /* Opcional: ajustar el padding del header */
    }
    .logo img { 
        height: 20; /* Mantén la proporción de la imagen */
        width: 10%; /* Ajusta el tamaño de la imagen */
        max-width: 20px; /* Tamaño máximo opcional */
    }

    /* HOME */
    .home {
        margin-top: 1rem;
    }

    .slider-wrapper, .gamedesc {
        max-width: 90%;
        width: 90%;
    }

    .slider-nav {
        bottom: -2rem;  
    }

    .gamedesc {
        margin-top: 6rem;  
    }

    .gamedesc h1 {
        font-size: 24px;
    }

    .gamedesc p {
        font-size: 12px;
        line-height: 1.2rem;
        padding: 0.5rem;
    }

    .gamedesc a {
        width: 75%;
        font-size: 12px;
        padding: 0.5rem;
    }
    

    /* CARTAS */
    .card{
        width: 281.25px; 
        height: 393.75px; 
    }

    /* CONTACT */
    section#creditos{
        gap: 1rem;
        margin: 1rem;
    }
    .creditscard{
        max-width: 346.5px; 
        max-height: 364.5px; 
    }
    
    .creditscard .front img{
        width: 100%;
        height: 100%; 
    }
    
    .creditscard .back h1{
        font-size: 25px;
    }
    
    .creditscard .back a{
        font-size: 10px;
    }



    /* FAQ */



    /* SHOP */


    /* FOOTER */
    .social_media {
        flex-direction: row;
        gap: 3rem;
    }

}